<div class="centering">

  <h1>Weblog<β版></h1>
  <%# この書き方だとなぜ表示されない？ %>
  <%# <% image_tag 'top-logo.png' %>
  <img src="assets/top-logo.png" class="top-image">

  <%# ----------------ログインしているならば-------------------- %>
  <% if user_signed_in? %>
  <p>現在、<strong><%= "#{current_user.name}" %></strong> でログインしています</p>
  <ul>
    <li><p><%= link_to 'マイページ', user_path(current_user) %></p></li>
    <li><p><%= link_to 'ストーリー一覧〇', posts_path %></p></li>
    <li><p><%= link_to 'ストーリーを書く〇', new_post_path %></p></li>
    <li><p><%= link_to 'アカウント編集〇', edit_user_registration_path %></p></li>
    <li><p><%= link_to 'ログアウト〇', destroy_user_session_path, method: :delete %></p></li>
    
  </ul>
    <%# --------------これよりログイン前ページ----------------- %>
  <% else %>
    <p><%= link_to '新規登録〇', new_user_registration_path %></p>
    <p><%= link_to 'ログイン〇', new_user_session_path %></p>
  <% end %>
</div>