<div class="centering">
  <%= link_to '<< ストーリー一覧へ', posts_path, class: 'go-to-index' %>
  <%= link_to 'マイページへ >>', edit_user_registration_path, class: 'go-to-user-edit' %>

  <h1 class="write-story">ストーリーを書く</h1>
  <p class="write-story-description">新規投稿ページです。思いのままにストーリーを綴りましょう！！</p>

  <%= simple_form_for @post do |f| %>
    <div class="form-wrapper">
      <%= f.input :title, label: 'タイトル', class: 'title-form' %>
      <%= f.input :genre, label: 'ジャンル', class: 'genre-form' %>
      <div class="mce-wrapper">
        <%= f.text_area :content, :class => "tinymce mce", :rows => 40, required: true %>
        <%= tinymce :language => 'ja', :plugins => ['wordcount'], :width => "80%" %>
      </div>
      <%= f.button :submit, 'ストーリーを投稿する！', class: 'create-story' %>
    </div>
	<% end %>
</div>
