<div class="centering">
  <h1 class="post-show-title">
    <%= @post.title %>
  </h1>
  <p>作成者：<%= @post.user.name %><p>
  <div class="post-show-genre">
    ジャンル：<%= @post.genre %>
  </div>
  <div class="post-show-body">
    <%= (sanitize @post.content).html_safe %>
  </div>

  <% if user_signed_in? %>
      <h3>コメントを書く</h3>
      <%= simple_form_for ([@post, @comment]) do |f| %>
        <%= f.input :title, label: 'title' %>
        <%= f.input :content, label: 'comment', as: :text %>
        <%= f.button :submit %>
      <% end %>
  <% end %>
  <div class="comment-wrapper">
    <br>
      -------------------------------------------
    <br>
    <h3>コメント一覧</h3>
      -------------------------------------------
    <br>
    <% @post.comments.each do |comment| %>
      <li>
        <h4><%= comment.title %></h4>
        <p><%= comment.content %>（コメント投稿：<%= @user.name %>）</p>
      </li>
    <% end %>
  </div>
  <%= link_to 'ストーリー一覧に戻る', posts_path %>
</div>

