<div class="centering">
  <h1 class="post-show-title">
    <%= @post.title %>
  </h1>
  <p>作成者：<%= @post.user.name %><p>
  <div class="post-show-genre">
    ジャンル：<%= @post.genre %>
  </div>
  <div class="post-show-body">
    <%= (sanitize @post.content).html_safe %>
  </div>
  <%= link_to 'ストーリー一覧に戻る', posts_path %>
</div>

